*{
   
    box-sizing: boder-box;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 30px;
}

nav{
    background-color: rgb(245, 240, 240);
    height: 50px;
}

input {
    display: block;
    height: 40px;
    position: relative;
    left: 670px;
   
    
}

img{
    height: 150px;
    width: 250px;
    position: relative;
    right: 160px;
    margin-top: 10px;

}

ul{
    float: center;
    list-style: none;
    text-decoration: none;

}

li{
    float: left;
    margin: 20px;   
}

section:nth-child(1){
    background-color: white;
    height: 150px;
    
}

section:nth-child(2){
    background-color: rgb(155, 117, 204);
    height: 180px;
}

section:nth-child(3){
    background-color: rgb(155, 117, 204);
    height: 500px;
    text-align: center;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1709/Louvre_france_travel_tourism-2017_High_Quality_Wallpapers_1366x768.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 500px;
  

}
 

footer{
    background-color: pink; 
}

h1{
    margin-left: 10px;
    position: relative; 
    left: 700px;
    color:white;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-top: auto;
    color: white;
}



